# List

    - []
    - mutable: elements in list can be change after execution
    - iterable: In Python, an iterable is an object that can be looped over, or "iterated" through, to access its elements one by one. This means you can  use an iterable in a for loop, list comprehension, or with functions like sum(), sorted(), or map().

In [11]:
#creating an list
student = []

In [15]:
print(type(student))

<class 'list'>

In [21]:
len(student)

0

In [6]:
#creating an membered  list
student = ['asad', 'ibrahim', 'dhoni', 'shakeel', 'monica', 'hailee']
print(student)

['asad', 'ibrahim', 'dhoni', 'shakeel', 'monica', 'hailee']

In [10]:
len(student)

6

### INDEX : indices

In [19]:
# +ve         0        1         2         3          4         5
student = ['asad', 'ibrahim', 'dhoni', 'shakeel', 'monica', 'hailee']
# -ve        -6       -5        -4        -3        -2         -1

In [21]:
student[2], student[-4]

('dhoni', 'dhoni')

In [29]:
student[1]

'ibrahim'

In [66]:
student[-1:]

['hailee']

# INSTANCE
#### In Python, an instance refers to a specific object created from a class. A class acts as a blueprint or a template that defines the structure and behavior (attributes and methods) that objects of that class will possess. An instance is a concrete realization of that blueprint, a unique entity that holds its own set of data according to the class's definition.

In [ ]:
#            0         1         2         3          4         5        6         7         8
student = ['asad', 'ibrahim', 'dhoni', 'shakeel', 'monica', 'hailee', 'salman', 'mirza', 'mcavoy']
#            -9        -8        -7        -6         -5       -4         -3       -2        -1
student[1:6]

In [ ]:
student[:-6]

In [ ]:
student[-8:8]

In [ ]:
student[-9:1]

In [ ]:
#            0         1         2         3          4         5        6         7         8
student = ['asad', 'ibrahim', 'dhoni', 'shakeel', 'monica', 'hailee', 'salman', 'mirza', 'mcavoy']
#            -9        -8        -7        -6         -5       -4         -3       -2        -1

In [ ]:
student[0:8:1]  # start : end : step

In [ ]:
student[0:8:2]

In [ ]:
student[::2]

In [ ]:
student[::-1]

In [ ]:
student[8:4:-1]

In [ ]:
my_list = ["Hello", "Python"]
print("-".join(my_list))

#### 7. Which operator is used to concatenate two lists (create a new list by joining them)?

##### *
##### + (correct)
##### &
##### |

In [ ]:
numb = [20, 30, 40 ,50]
del numb[1]
numb.remove(50)
print(numb)

In [ ]:
my_list = [99, 66, 11]
my_list.sort()
print(my_list)

In [ ]:
student = ['asad', 'ibrahim', 'dhoni', 'shakeel', 'monica', 'hailee', 'salman', 'mirza', 'mcavoy']
new_Student = student.copy()
new_Student = list(student)
new_Student = student[:]
# all methods are use to copy the list as shallow copy

In [13]:
my_list = [1, 2, 3]
my_list.append([4, 5])
print(len(my_list))

4

In [19]:
aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])    
print(aList[1][3])

Y
16

In [20]:
aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])

Y

In [21]:
list1 = [1, 2, 3]
list2 = list1
list2.append(4)
print(list1)

[1, 2, 3, 4]

In [23]:
my_list = [1, 2, 3]
my_list.append([4, 5])
print(my_list)

[1, 2, 3, [4, 5]]

In [24]:
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)

[1, 2, 3, 4, 5]

In [28]:
a = [1, 2]
b = [3, 4]
c = a + b
print(c)

[1, 2, 3, 4]

In [31]:
letters = ['a', 'b', 'c', 'd', 'e']
letters[1:4] = ['x', 'y']
print(letters)
# replace method

['a', 'x', 'y', 'e']