# LOOPS
##### In Python, a loop is just a way to repeat a block of code multiple times without writing it again and again. Like saying, “Do this thing... 10 times,” and Python says, “Bet.”
#### for in
#### while

# For in Loop

In [5]:
# print your name 10 times#
#  i = variable, range = iterable
for i in range(7):
      print("ibrahim", i)

ibrahim 0
ibrahim 1
ibrahim 2
ibrahim 3
ibrahim 4
ibrahim 5
ibrahim 6

In [7]:
friends = ["bobby", "cheeku", "thala"]
for i in friends:
    print(f"hi {friends}")

hi ['bobby', 'cheeku', 'thala']
hi ['bobby', 'cheeku', 'thala']
hi ['bobby', 'cheeku', 'thala']

In [9]:
friends = ["bobby", "cheeku", "thala"]
for i in friends:
    print(f"hi {i}")

hi bobby
hi cheeku
hi thala

In [11]:
lst1 = [1,3,5,7,9]
lst2 = [2,4,6,8,10]
lst3 = []
for n in zip(lst1,lst2):
    lst3.append(sum(n))
    print(lst3)

[3]
[3, 7]
[3, 7, 11]
[3, 7, 11, 15]
[3, 7, 11, 15, 19]

In [13]:
friends = ["bobby", "cheeku", "thala", "rizzu", "mogambo", "gable", "caesar"]
for f in friends:
    print(f"hello {f}" )

hello bobby
hello cheeku
hello thala
hello rizzu
hello mogambo
hello gable
hello caesar

In [8]:
friends = ["bobby", "cheeku", "thala", "rizzu", "mogambo", "gable", "caesar"]
for f in range(7):
    print(f, friends[f])

0 bobby
1 cheeku
2 thala
3 rizzu
4 mogambo
5 gable
6 caesar

In [17]:
# to print the list items in reverse order
for f in friends[::-1]:
    print(f)

caesar
gable
mogambo
rizzu
thala
cheeku
bobby

In [19]:
friends = ["bobby", "cheeku", "thala", "rizzu", "mogambo", "gable", "caesar"]
for n,s in enumerate(friends[::-1]):
    print(n,s)

0 caesar
1 gable
2 mogambo
3 rizzu
4 thala
5 cheeku
6 bobby

# Continue, Break

In [22]:
friends

['bobby', 'cheeku', 'thala', 'rizzu', 'mogambo', 'gable', 'caesar']

In [24]:
for f in friends:
    print(f"dear {f}, aapki kl chutti hai")

dear bobby, aapki kl chutti hai
dear cheeku, aapki kl chutti hai
dear thala, aapki kl chutti hai
dear rizzu, aapki kl chutti hai
dear mogambo, aapki kl chutti hai
dear gable, aapki kl chutti hai
dear caesar, aapki kl chutti hai

In [26]:
for f in friends:
    if len(f) < 6:
        print(f"dear {f}, aapki kl chutti hai")
    else:
        print(f"dear {f}, aapki kl chutti nahi hai")

dear bobby, aapki kl chutti hai
dear cheeku, aapki kl chutti nahi hai
dear thala, aapki kl chutti hai
dear rizzu, aapki kl chutti hai
dear mogambo, aapki kl chutti nahi hai
dear gable, aapki kl chutti hai
dear caesar, aapki kl chutti nahi hai

In [28]:
friends

['bobby', 'cheeku', 'thala', 'rizzu', 'mogambo', 'gable', 'caesar']

In [30]:
for f in friends:
    if f == "rizzu":
        break
    else:
        print(f)

bobby
cheeku
thala

In [33]:
guests = []
name = input("ENTER YOUR NAME:")
guests.append(name)

ENTER YOUR NAME: Ibrahim

In [35]:
guests

['Ibrahim']

In [16]:
guests = []
for i in range(7):
    name = input("ENTER YOUR NAME:")
    guests.append(name)
guests

ENTER YOUR NAME: ibrahim
ENTER YOUR NAME: abdul
ENTER YOUR NAME: mustafa
ENTER YOUR NAME: bobby
ENTER YOUR NAME: lipa
ENTER YOUR NAME: hagen
ENTER YOUR NAME: tom

['ibrahim', 'abdul', 'mustafa', 'bobby', 'lipa', 'hagen', 'tom']

In [18]:
guests = []
name = input("ENTER YOUR NAME:")
for i in range(7):
    guests.append(name)
guests

ENTER YOUR NAME: bobzie

['bobzie', 'bobzie', 'bobzie', 'bobzie', 'bobzie', 'bobzie', 'bobzie']

In [24]:
# if we have to print all numbers 1 to 10 except five
for i in range(10):
    if i == 5:
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [32]:
# to create dict
rates = {}
items = ['biryani', 'fish', 'ice cream', 'kebab', 'steak']
for i in items:
    price = input(f"{i} for 20 people")
    rates[i] = price
print(rates)

biryani for 20 people 2000
fish for 20 people 2300
ice cream for 20 people 2100
kebab for 20 people 2445
steak for 20 people 2323

{'biryani': '2000', 'fish': '2300', 'ice cream': '2100', 'kebab': '2445', 'steak': '2323'}

In [42]:
# create shop and total all bill
genral_shop = ['snacks', 'copy', 'biscuits', 'candy', 'pencil', 'grocery', 'soap', 'shampoo', 'icecream']
rates = {}
total = 0
for p in genral_shop:
    price = int(input(f"{p} for one"))
    rates[p] = price
    total +=price
print(rates)
total

snacks for one 10
copy for one 15
biscuits for one 10
candy for one 5
pencil for one 15
grocery for one 2000
soap for one 190
shampoo for one 430
icecream for one 100

{'snacks': 10, 'copy': 15, 'biscuits': 10, 'candy': 5, 'pencil': 15, 'grocery': 2000, 'soap': 190, 'shampoo': 430, 'icecream': 100}

2775

In [46]:
# another metod
genral_shop = ['snacks', 'copy', 'biscuits', 'candy', 'pencil', 'grocery', 'soap', 'shampoo', 'icecream']
rates = {}
for p in genral_shop:
    price = int(input(f"{p} for one"))
    rates[p] = price
total = sum(rates.values())
print(rates)
print(total)

snacks for one 10
copy for one 15
biscuits for one 10
candy for one 5
pencil for one 10
grocery for one 2000
soap for one 190
shampoo for one 430
icecream for one 100

{'snacks': 10, 'copy': 15, 'biscuits': 10, 'candy': 5, 'pencil': 10, 'grocery': 2000, 'soap': 190, 'shampoo': 430, 'icecream': 100}
2770