# Arbitrary number of arguments

In [2]:
def add_num(*nums): # * receive all values in tuple
    return sum(nums)

print(add_num(1,2,3,4,5,6,7,8,9,10))

55

In [1]:
def add_even_num(*nums): # this will add all even numbers that we provide
    res = 0
    for n in nums:
        if n % 2 == 0:
            res += n
    return res

add_even_num(1,2,3,4,5,6,7,8,9,10,13,12,23,25)

42

# Positional arguments and Keyword arguments

In [7]:
def full_name(first_name, middle_name, last_name):
    print(f"{first_name} {middle_name} {last_name}")

full_name('Muhammad', 'Ibrahim', 'Shakeel') # positional arguments

Muhammad Ibrahim Shakeel

In [9]:
full_name(first_name = 'Muhammad',middle_name = 'Ibrahim',last_name = 'Shakeel') #keyword arguments

Muhammad Ibrahim Shakeel

In [11]:
full_name(first_name = 'Muhammad',middle_name = 'Ibrahim',last_name = "")

Muhammad Ibrahim

# Arbitrary Keyword Arguments

In [14]:
def bio(name, age, last_qualification, experience):
    return {'Name': name, 'Age': age, 'Last Qualification': last_qualification, 'Experience': experience}

bio('Ibrahim', 20, 'Undergraduate', 2)

{'Name': 'Ibrahim',
 'Age': 20,
 'Last Qualification': 'Undergraduate',
 'Experience': 2}

In [16]:
def bio(name, age, last_qualification, experience, **other_info):
    return {'Name': name, 'Age': age, 'Last Qualification': last_qualification, 'Experience': experience} | other_info # bar is used to concatenate

bio(name = 'Ibrahim',age = 20,last_qualification = 'Undergraduate',experience = 2, gender = 'male', relgion = 'islam')

{'Name': 'Ibrahim',
 'Age': 20,
 'Last Qualification': 'Undergraduate',
 'Experience': 2,
 'gender': 'male',
 'relgion': 'islam'}

In [19]:
import python_banking_system

In [21]:
from python_banking_system import cash_withdrawl