# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
# type your code here

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
# type your code here

4) Can a python print function take no value to print???

In [4]:
# type your answer here

# TOPIC :Variables

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [5]:
#type your code here

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [6]:
#type your code here

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [7]:
#type your code here

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [8]:
#type your code here

print the year of birth of Mr. Ahmed.

In [9]:
#type your code here

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [10]:
#type your

# Topic: User input

13) Take students detail as user input on console. Like 
name 
father name 
contact
email
Course
Address
Days 
Timings 
And print a formatted id card of student 


                                 Saylani Mass IT Training Program
                                 _________________________________
                                         Zaitoon Ashraf IT Park
                    Student Name: Abdullah Khan
                    Father Name : Amanullah Khan
                    Course      : Data Science and Artificial Intelligence 
                    Days        : Monday & Thursday 
                    Timings     : 7pm - 10pm
                    Email       : abdullah_khan@gmail.com
                    Contact     : 1234567890
                    Address     : Flat 201, Roha Arcade, CA
                    
                    
                    Saylani Welfare International Trust Head Office (Bahadurabad Karachi)

# Topic : Operators and Expression with ambiguity

14 ) What is the output of print(2 * 3 ** 3 * 4)

a) 216
b )864

15 ) What is the output of the expression  print(-18 // 4)
a) -4
b)  4
c) -5
d)  5

16) 
x = 6
y = 2
print(x ** y)
print(x // y)


a) 66
   0
    
b) 36
   0
    
c) 66
    3
    
d)  36
    3

17)
What is the output of print(10 - 4 * 2)

 a) 2
 
 
 b) 12

18 ) What is the output of print(2%6)

 a) ValueError
 b) 0.33
 c) 2

19) What is the value of the following Python Expression

  print(36 / 4)

 a) 9.0
 b) 9

In [11]:
print(2%6)

2